<footer class="mb-0 pt-5 mt-auto">
      <div class="container">
	      	<div class="text-center">
		      	<a href="https://www.github.com/draeneika"><i title="github" class="fa fa-github"></i></a>
	            <a href="mailto:lucia.lelic@gmail.com"><i title="gmail" class="fa fa-envelope-o"></i></a>
				<a href="https://www.facebook.com/lucia.lelicova"><i title="facebook" class="fa fa-facebook-official"></i></a>
	            <a href="https://sk.linkedin.com/in/lucia-leli%C4%8Dov%C3%A1-469285166"><i title="Linkedin" class="fa fa-linkedin"></i></a>
	      	</div>
      </div>
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://github.com/draeneika"> draeneika.github.com</a>
    </div>
</footer>