<footer>
    <div id="footer">
        <ul>
            <li><a href="https://www.github.com/draeneika"><i title="github" class="fa fa-github"></i></a></li>
            <li><a href="mailto:lucia.lelic@gmail.com"><i title="gmail" class="fa fa-envelope-o"></i></a></li>
            <li><a href="https://www.facebook.com/lucia.lelicova"><i title="facebook" class="fa fa-facebook-official"></i></a></li>
            <li><a href="https://sk.linkedin.com/in/lucia-leli%C4%8Dov%C3%A1-469285166"><i title="Linkedin" class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</footer>