<footer class="mb-0 pt-1 mt-auto bg-dark text-white ">
</br>
    <div class="container">
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          	<a class="text-white" href="https://www.github.com/draeneika"><i title="github" class="fa fa-github fa-lg"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="text-white" href="mailto:lucia.lelic@gmail.com"><i title="gmail" class="fa fa-envelope-o fa-lg"></i></a>
        </li>
        <li class="list-inline-item">
			<a class="text-white" href="https://www.facebook.com/lucia.lelicova"><i title="facebook" class="fa fa-facebook-official fa-lg"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="text-white" href="https://sk.linkedin.com/in/lucia-leli%C4%8Dov%C3%A1-469285166"><i title="Linkedin" class="fa fa-linkedin fa-"></i></a>
        </li>
      </ul>
    </div>

    <div class="text-center font-weight-lighter text-white py-3">© 2019 Copyright:
      <a class="text-white" href="https://github.com/draeneika"> draeneika.github.com</a>
    </div>
 </footer>