---
layout: default
title: Jobs & Skills
---


<h2 class="display-4 text-center">Working experience</h2>
{% for job in site.jobs %}
<div class="card mb-3">
  <div class="card-header">
 <a href="{{job.web}}"> <img src="{{job.image}}" class="mb-0 p-0" style="width: 150px;"></a>
  </div>
  <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p class="card-text"> <b> Department: </b> {{ job.department }}</p></li>
          <li class="list-group-item"><p class="card-text"> <b> Position: </b> {{ job.position }}</p></li>
        <li class="list-group-item"> <p class="card-text"> <b> {{ job.from | date:  "%B %Y" }} - {{ job.until | date:  "%B %Y" }} </b></p></li>
      </ul>
      </div>
</div>
{% endfor %}

</br>

<h2 class="display-4 text-center">Programming skills</h2>
<div class="mt-4" >
    {% assign sorted_skills = site.skills | sort: "name" %}
  	{% for skill in sorted_skills %}
  	<div class="card mb-3">
  		<div class="card-body">
			<b>{{skill.name}}</b> {{skill.emoji}} 
  		</div>
  	</div>
  	{% endfor %}
</div>